/* styles.css */

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 18px;
}

.indexbody {
  background-color: #efeee8;
}

.recipepage {
  background-color: #f9f9f7;
  padding: 0 24px;
}

.indexbody .title {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #aa6c39;
  font-weight: 800;
}

.recipepage h1 {
  padding: 0 0 0.5em;
  margin: 0;
}

.recipebody {
  display: flex;
  /* flex-wrap: wrap; */
}

.recipeimage {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: baseline;
}

.recipeimage img {
  width: 350px;
  height: auto;
  align-self: flex-start;
  margin-bottom: 20px;
  flex: 0.8;
}

.recipecontent {
  min-width: 150px;
  padding: 0 20px;
  flex: 4 1 auto;
  align-self: center;
}

@media (max-width: 850px) {
  .recipebody {
    flex-direction: column;
  
  }
  /* .recipeimage {
    min-height: 1000px;
  } */
}


ul li,
ol li {
  text-align: left;
}

.list.links {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 18px;
  background-color: aliceblue;
  padding: 16px;
  margin: 0 auto;
  width: 300px;
}

.list.links > li {
  list-style-type: none;
  text-align: center;
}

.indexlink a {
  text-decoration: none;
  color: #008080;
}

.sectiontitle {
  font-size: 20px;
  font-weight: 600;
  color: #FF474C;
  line-height: 20px;
  padding: 0px;
  margin: 0px;
}
